<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbServer" value="SQL06HFD1P" />
		<add key="Database" value="CRD_DATA_MANIPULATION" />
		<add key="DbTimeoutMinutes" value="10" />		<!-- database connection timeout -->
		<add key="SleepLimitTime" value="07:05:00" />	<!-- hh:mm:ss - if current time is beyond SleepLimitTime, process will run with latest available benchmark data (should be previous day) -->
		<add key="SleepIntervalMinutes" value="10" />	<!-- number of minutes to sleep -->
		<add key="WeeksBack" value="2" />				<!-- look for data this many weeks back -->
		<add key="RowCountLimit" value="22000" />		<!-- minimum number of rows to find before running -->
		<add key="StringWrapper" value="" />			<!-- character code to surround strings: 34=double quote, 39=single quote -->
		<add key="Delimiter" value="	" />			<!-- string delimiter -->
		<add key="Header1" value="" />					<!-- overwrites column headers returned by apt_positions_get sp; must use comma to delimit -->
		<add key="Header2" value="Min_Weights,Max_Weights,T_Name,A_Name,C_Name1,C_Name2,C_Name3,C_Name4,C_Name5,C_Name6,C_Name7,C_Name8,C_Name9,C_Name10,Q_Name1,Q_Name2,Q_Name3,Q_Name4,Q_Name5,Q_Name6,Q_Name7,Q_Name8,Q_Name9,Q_Name10" /> <!-- additional column headers; must use comma to delimit  -->
		<add key="SmtpServer" value="" />	<!-- mail server -->
		<add key="MailFrom" value="" />
		<add key="MailTo" value="" />
		<add key="MailCc" value="" />
	</appSettings>
</configuration>
