<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbServer" value="SQL03ATL1T" />
		<add key="Database" value="QER" />
		<add key="DbTimeoutMinutes" value="20" /> <!-- database connection timeout -->
		<add key="BcpAttemptsMax" value="10" /> <!-- number of times to attempt bcp -->
		<add key="Reload" value="false" /> <!-- boolean; if true, deletes barra tables and reloads data; if false, will not load if data is already found -->
		<add key="yyyymm" value=""/> <!-- used to load files prior to previous month -->
		<add key="SmtpServer" value="" /> <!-- mail server -->
		<add key="MailFromTidalProd" value="" />
		<add key="MailFromTidalDev" value="" />
		<add key="MailTo" value="" />
		<add key="MailCc" value="" />
		<add key="FtpHost" value="ftp://ftp.barra.com" />
		<add key="FtpUser" value="" />
		<add key="FtpPw" value="" />
	</appSettings>
</configuration>
