<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbServer" value="SQL03ATL1T" />
		<add key="Database" value="QER" />
		<add key="DbTimeoutMinutes" value="30" /> <!-- database connection timeout -->
		<add key="SleepLimitTime" value="10:30:00" /> <!-- hh:mm:ss -->
		<add key="SleepIntervalMinutes" value="10" /> <!-- number of minutes to sleep -->
		<add key="BcpAttemptsMax" value="10" /> <!-- number of times to attempt bcp -->
		<add key="StartDate" value="" /> <!-- format= mm/dd/yyyy; set StartDate for loading historical benchmark data -->
		<add key="EndDate" value="" /> <!-- format= mm/dd/yyyy; set EndDate for loading historical benchmark data -->
		<add key="Benchmarks" value="true" /> <!-- boolean; if true, join universe_def with benchmark table -->
		<add key="MsciBenchmarks" value="false" /> <!-- boolean; if true, get MSCI benchmarks based on universe_def WHERE universe_cd LIKE 'MSCI%' -->
		<add key="EquityCommonBenchmarks" value="true" /> <!-- boolean; if true, will reference QER..decode WHERE item = 'EQUITY_COMMON_BM' -->
	</appSettings>
</configuration>
