<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbServer" value="SQL03ATL1T" />
		<add key="Database" value="QER" />
		<add key="DbTimeoutMinutes" value="0" /> <!-- database connection timeout -->
		<add key="SleepLimitTime" value="9:30:00" /> <!-- hh:mm:ss -->
		<add key="SleepIntervalMinutes" value="10" /> <!-- number of minutes to sleep -->
		<add key="BcpAttemptsMax" value="10" /> <!-- number of times to attempt bcp -->
		<add key="FactorIdsDomestic" value="38,145,164,274" /> <!-- references QER..factor table -->
		<add key="FactorIdsForeign" value="" /> <!-- references QER..factor table -->
		<add key="FactorIdsAll" value="218" /> <!-- references QER..factor table -->
		<add key="FileDate" value="" /> <!-- mm/dd/yyyy -->
		<add key="StartDate" value="" /> <!-- format= mm/dd/yy; set StartDate for loading historical factor data -->
		<add key="EndDate" value="" /> <!-- format= mm/dd/yy; set EndDate for loading historical factor data -->
		<add key="ReturnPreCalc" value="false"/> <!-- ReturnPreCalculation flag -->
	</appSettings>
</configuration>
