<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbServer" value="SQL03ATL1T" />
		<add key="Database" value="QER" />
		<add key="DbTimeoutMinutes" value="0" /> <!-- database connection timeout -->
		<add key="SleepLimitTime" value="10:30:00" /> <!-- hh:mm:ss -->
		<add key="SleepIntervalMinutes" value="10" /> <!-- number of minutes to sleep -->
		<add key="BcpAttemptsMax" value="10" /> <!-- number of times to attempt bcp -->
		<add key="FileDate" value="" /> <!-- mm/dd/yyyy -->
		<add key="FtpHost" value="online2.factset.com" />
		<add key="FtpUser" value="" />
		<add key="FtpPw" value="" />
	</appSettings>
</configuration>
