<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbServer" value="SQL03ATL1T" />
		<add key="Database" value="QER" />
		<add key="DbTimeoutMinutes" value="5" />
		<add key="LocalDirDays" value="2" />
		<add key="LocalFileDays" value="2" />
		<add key="ArchiveDirWeeks" value="8" />
		<add key="ArchiveFileWeeks" value="12" />
	</appSettings>
</configuration>
