<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbServer" value="SQL03ATL1T" />
		<add key="Database" value="QER" />
		<add key="DbTimeoutMinutes" value="0" /> <!-- database connection timeout -->
		<add key="RunDate" value="" /> <!-- mm/dd/yyyy; process will run with previous business date relative to RunDate -->
	</appSettings>
</configuration>
